[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "*"
transformers = "*"
spacy = {version = "*", extras = ["en_core_web_md"]}
pytest = "*"
assignment1 = {file = "."}

[dev-packages]

[requires]
python_version = "3.11"
